
<div class="container">
    <form  class="mat-dialog-content"  id="idFormModalidad" [formGroup]="formsRegistra" >
      <div class="row">
            <mat-toolbar color="primary" >    
              <span>Registra Docente</span>    
            </mat-toolbar>  
      </div>
      <div  class="row"  style="margin-top: 3%">
                <mat-form-field class="col-md-8">
                    <mat-label>Nombre</mat-label>
                    <input  matInput [(ngModel)] ="docente.nombre"  formControlName="validaNombre" name="nombre" >
                    <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaNombre.touched">
                        <span *ngIf="formsRegistra.controls.validaNombre.hasError('required')">
                        El Nombre es requerido
                        </span>
                        <span *ngIf="formsRegistra.controls.validaNombre.hasError('pattern')">
                        El Nombre es 3 a 30 caracteres
                        </span>
                    </mat-hint>
                </mat-form-field>
                <mat-form-field class="col-md-4">
                    <mat-label>DNI</mat-label>
                    <input  matInput [(ngModel)] ="docente.dni"  formControlName="validaDni" name="dni" >
                    <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaDni.touched">
                        <span *ngIf="formsRegistra.controls.validaDni.hasError('required')">
                            El DNI es requerido
                        </span>
                        <span *ngIf="formsRegistra.controls.validaDni.hasError('pattern')">
                            El DNI tiene 8 dígitos
                        </span> 
                    </mat-hint>
                </mat-form-field>
        </div>
        <div class="row" style="margin-top: 5%">
    
            <mat-form-field class="col-md-4">
                <mat-label>Departamento</mat-label>
                <mat-select [(ngModel)] ="docente.ubigeo!.departamento" formControlName="validaDepartamento" name="departamento" (selectionChange)="cargaProvincia()">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option  *ngFor="let x of departamentos"  [value]="x">
                        {{x}}
                    </mat-option> 
                </mat-select>
                <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaDepartamento.touched" >
                    <span *ngIf="formsRegistra.controls.validaDepartamento.hasError('min')">
                        El departamento es requerido
                    </span>
                </mat-hint>  
            </mat-form-field> 


            <mat-form-field class="col-md-4">
                <mat-label>Provincia</mat-label>
                <mat-select [(ngModel)] ="docente.ubigeo!.provincia" formControlName="validaProvincia" name="provincia"  (selectionChange)="cargaDistrito()">
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option  *ngFor="let x of provincias" [value]="x">
                        {{x}}
                    </mat-option> 
                </mat-select>
                <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaProvincia.touched">
                    <span *ngIf="formsRegistra.controls.validaProvincia.hasError('min')">
                        La provincia es requerida
                    </span>
                </mat-hint>  
            </mat-form-field> 

            <mat-form-field class="col-md-4">
                <mat-label>Distrito</mat-label>
                <mat-select [(ngModel)] ="docente.ubigeo!.idUbigeo" formControlName="validaDistrito" name="distrito" >
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option  *ngFor="let aux of distritos" [value]="aux.idUbigeo">
                        {{aux.distrito }}
                    </mat-option>   
                </mat-select>
                <mat-hint style="color:red" *ngIf="formsRegistra.controls.validaDistrito.touched">
                    <span *ngIf="formsRegistra.controls.validaDistrito.hasError('min')">
                        El distrito es requerido
                    </span>
                </mat-hint>  
            </mat-form-field> 

        </div>

        <div  mat-dialog-actions>
                <button mat-raised-button 
                        type="submit" 
                        color="primary" 
                        (click)="registra()"  
                        [disabled]="formsRegistra.invalid"
                        [mat-dialog-close]="1">
                        Registra
                </button>
                <button mat-button 
                        (click)="onNoClick()"
                        color="primary">
                        Salir
                </button>
        </div>

      </form>
  </div>
  