<div class="container">

    <form  class="mat-dialog-content"  id="idFormModalidad" >
        <div class="row">
            <mat-toolbar color="primary" >    
                <span>Registra Docente</span>    
            </mat-toolbar>  
        </div>

        <div  class="row"  style="margin-top: 3%">
            <mat-form-field class="col-md-8">
                <mat-label>Nombre</mat-label>
                <input matInput  name="nombre" [(ngModel)]="docente.nombre">
            </mat-form-field>

            <mat-form-field class="col-md-4">
                <mat-label>DNI</mat-label>
                <input  matInput name="dni" [(ngModel)]="docente.dni">
            </mat-form-field>
        </div>

        <div class="row" style="margin-top: 5%">
            <mat-form-field class="col-md-4">
                <mat-label>Departamento</mat-label>
                <mat-select  name="departamento" (selectionChange)="cargaProvincia()" [(ngModel)]="docente.ubigeo!.departamento" >
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let item of departamentos" value="{{ item }}">
                        {{ item }}
                    </mat-option>
                </mat-select>
            </mat-form-field> 

            <mat-form-field class="col-md-4">
                <mat-label>Provincia</mat-label>
                <mat-select name="provincia"  (selectionChange)="cargaDistrito()" [(ngModel)] ="docente.ubigeo!.provincia"  >
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let item of provincias" value="{{ item }}">
                        {{ item }}
                    </mat-option>
                </mat-select>
            </mat-form-field> 

            <mat-form-field class="col-md-4">
                <mat-label>Distrito</mat-label>
                <mat-select  name="distrito" [(ngModel)] ="docente.ubigeo!.idUbigeo" >
                    <mat-option value="-1"> [Seleccione] </mat-option>
                    <mat-option *ngFor="let item of distritos" value="{{ item.idUbigeo }}">
                        {{ item.distrito }}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </div>

        <div  mat-dialog-actions>
            <button mat-raised-button 
                    type="submit" 
                    color="primary" 
                    >
                    Registra
            </button>

            <button mat-button 
                    color="primary">
                    Salir
            </button>
        </div>
    </form>
</div>